<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>求购信息</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/app.js"></script>
    <style>
        td {
            text-align: center
        }

        th {
            text-align: center
        }

        #ssk {
            position: relative;
            left: 13px;
            right: 0;

            top: 0;

            bottom: 0;

            margin: 0px;
        }
    </style>
</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand"><img src="assets/i/logo.png"></div>
</header>
<div class="am-cf admin-main">
    <div class="nav-navicon admin-main admin-sidebar">
        <!--获取session的值-->
        <div th:text="'欢迎管理员'+${session.managerList.getUsername()}+'登录'" class="sideMenu am-icon-dashboard"
             style="color:#aeb2b7; margin: 10px 0 0 0;">
            <!--<p th:text="${managerinfo.username}"></p>--></div>
        <div class="sideMenu">
            <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
            <ul>
                <li><a th:href="@{/findGoods}">商品列表</a></li>
                <li><a th:href="@{/findGoodsInfoAll}">审核商品</a></li>
            </ul>
            <h3 class="am-icon-cart-plus"><em></em> <a href="#"> 订单管理</a></h3>
            <ul>
                <li><a th:href="@{/goToIndentList}">订单列表</a></li>
            </ul>
            <h3 class="am-icon-users"><em></em> <a href="#">用户管理</a></h3>
            <ul>
                <li><a th:href="@{/UserList}">用户列表</a></li>
            </ul>
            <h3 class="am-icon-volume-up"><em></em><a href="#">用户评论信息管理</a></h3>
            <ul>
                <li><a th:href="@{/gotoPurchaseInformation}">求购信息</a></li>
                <li><a th:href="@{/findGoodsMessageList}">用户评论列表</a></li>
            </ul>
            <h3 class="am-icon-gears"><em></em> <a href="#">系统设置</a></h3>
            <ul>
                <li><a th:href="@{/findManagerinfoId(id=${session.managerList.getId()})}">个人信息</a></li>
                <li><a th:href="@{/XGMM}">修改密码</a></li>
            </ul>
        </div>
        <!-- sideMenu End -->

        <script type="text/javascript">
            jQuery(".sideMenu").slide({
                titCell: "h3", //鼠标触发对象
                targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                effect: "slideDown", //targetCell下拉效果
                delayTime: 300, //效果时间
                triggerTime: 150, //鼠标延迟触发时间（默认150）
                defaultPlay: true,//默认是否执行效果（默认true）
                returnDefault: true //鼠标从.sideMen移走后返回默认状态（默认false）
            });
        </script>
    </div>
    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li>
                    <a th:href="@{/SY}" type="button" class="am-btn am-btn-default am-radius am-btn-xs">
                        首页
                    </a>
                </li>
            </ul>
        </div>


        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on" style="color: red;">
                    求购信息列表
                </ul>
                <dl class="am-icon-home" style="float: right;">
                    当前位置： <a th:href="@{/SY}">首页 </a>> <a th:href="@{/gotoPurchaseInformation}">求购信息列表</a>
                </dl>

            </div>
            <form id="quanbu" th:action="@{/gotoPurchaseInformation}" method="post">
                <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf" id="ssk">
                    <ul>
                        <!-- <li style="color: #6598a0;font-size: 14px;margin-top: 4px;">商品状态：</li>-->
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li style="color: #23282a;font-size: 13px;margin-top: 4px;">求购者：</li>
                        <li>

                            <input name="UserName" th:value="${UserName}" type="text"
                                   style="width:150px;height: 32px;margin-top: 0px;"
                                   class="am-form-field am-input-sm am-input-xm"/>
                        </li>
                        <li>
                            <div class="am-btn-group am-btn-group-xs">
                                <select data-am-selected="{btnWidth: 130, btnSize: 'sm', btnStyle: 'default'}"
                                        name="gName" th:value="${gName}">
                                    <option value="全部">求购商品类型</option>
                                    <option th:selected="${gName=='闲置数码'}" value="闲置数码">闲置数码</option>
                                    <option th:selected="${gName=='虚拟物品'}" value="虚拟物品">虚拟物品</option>
                                    <option th:selected="${gName=='电器日用'}" value="电器日用">电器日用</option>
                                    <option th:selected="${gName=='图书教材'}" value="图书教材">图书教材</option>
                                    <option th:selected="${gName=='美妆衣物'}" value="美妆衣物">美妆衣物</option>
                                    <option th:selected="${gName=='运动棋牌'}" value="运动棋牌">运动棋牌</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <button type="submit" style="width:60px;height: 30px;margin-top: 1px;"
                                    class="am-btn am-radius am-btn-xs am-btn-success">搜索
                            </button>
                        </li>
                    </ul>
                </div>
            </form>

            <form class="am-form am-g">
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
                    <thead>
                    <tr class="am-success">
                        <th class="table-check"><input type="checkbox"/></th>
                        <th class="table-id am-text-center" style="width: 10%">求购信息编号</th>
                        <th class="table-id am-text-center" style="width: 10%">求购类别</th>
                        <th class="table-type">求购信息内容</th>
                        <th class="table-author am-hide-sm-only" style="width: 20%">发布时间</th>
                        <th class="table-title">求购者</th>
                        <th width="125px" class="table-set" style="width: 4%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="want : ${wantgoodses}">
                        <td><input type="checkbox"/></td>
                        <td th:text="${want.Id}" class="am-text-center">1</td>
                        <td th:text="${want.gName}" class="am-text-center">1</td>
                        <td th:text="${want.Remark}">求牙刷一个</td>
                        <td th:text="${#dates.format(want.Modify,'yyyy-MM-dd')}" class="am-hide-sm-only">2018-08-08</td>
                        <td th:text="${want.UserName}">正常</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <!--<a class="am-btn am-btn-default am-btn-xs am-text-success am-round"-->
                                    <!--data-am-modal="{target: '#my-popup'}"><span-->
                                    <!--class="am-icon-search"></span></a>-->
                                    <!--<a class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"-->
                                    <!--data-am-modal="{target: '#my-popups'}" title="添加（随机虚拟用户ID ）"><span-->
                                    <!--class="am-icon-pencil-square-o"></span></a>-->
                                    <!-- 用按钮的时候 弹层 后缀需要加 问好 ？#的 时候才有效 真恶心 .html?# -->
                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-round deleteById"
                                            th:item-id="${want.Id}" title="删除">
                                        <span class="am-icon-trash-o"></span></button>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="xian" style="float: right">
                    <div class="page">
                        共<span th:text="${pageInfo.total}"></span>条记录&nbsp;每页<span>4</span>条&nbsp;现在<span
                            th:text="${pageInfo.pageNum}" id="pageNum"></span>/<span
                            th:text="${pageInfo.pages}" id="totalPageCount"></span>页
                        <a th:href="@{/gotoPurchaseInformation(Name=${Name},Id=${Id},Sales=${Sales})}">首页</a>
                        <a th:href="@{/gotoPurchaseInformation(pageNum=${pageInfo.pageNum-1},UserName=${UserName},gName=${gName},wName=${wName})}">上一页</a>
                        <a th:href="@{/gotoPurchaseInformation(pageNum=${pageInfo.pageNum+1},UserName=${UserName},gName=${gName},wName=${wName})}">下一页</a>
                        <a th:href="@{/gotoPurchaseInformation(pageNum=${pageInfo.total},UserName=${UserName},gName=${gName},wName=${wName})}">尾页</a>
                    </div>
                    <style type="text/css">
                        .xian .page a {
                            background-color: #d9d9d9;
                            padding: 4px 12px;
                            border-radius: 2px;
                        }

                        .page a:hover {
                            background-color: #c7c7c7;
                        }
                    </style>
                </div>
                <hr/>
            </form>

            <div class="foods" style="margin-top: 372px;">
                <ul>
                    版权所有@2019 北大青鸟鸿鹄狮鹫
                </ul>
                <dl>
                    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
                </dl>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script type="text/javascript">
    <!--删除-->
    $(".deleteById").click(function () {
        var confirm2 = confirm("确定删除该评论吗？删除后不能恢复！");
        if (confirm2 == true) {
            var deleteId = $(this).attr("item-id");
            $.ajax({
                type: "post",//请求类型
                url: "deleteWantGoodById",//请求的url
                data: {deleteId: deleteId},//请求参数
                dataType: "json",//ajax接口（请求url）返回的数据类型
                success: function (data) {//data：返回数据（json对象）
                    if (data > 0) {
                        alert("删除成功！");
                        //修改后刷新数据
                        $("#quanbu").submit();
                    } else {
                        alert("删除成功！");
                    }
                },
                error: function (data) {//当访问时候，404，500 等非200的错误状态码
                    alert("查看商品详情失败！！");
                }
            });
        }
    });
</script>
</body>
</html>